
#firebaseBox {

}

.jumbotron {

	background-image: url(city-line.jpeg);
	background-size: 100% 100%;
	border-bottom: 3px solid orange;
}

.fonts {
	font-family: 'Allerta Stencil', sans-serif;
}

body {
	background-color: #78909c;
}

.card {
	border-color: orange;
}

#addEmployee {
	color: orange;
}